.ForgotPassword p a {
  color: #ff344b;
}

.ForgotPassword form.forgot.login {
  width: 400px !important;
}

.ForgotPassword p.lowerTxt {
  font-size: 1.4rem;
}

.ForgotPassword p.lowerTxt a {
  font-weight: 700;
}

.ForgotPassword .content .title {
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  margin-top: 2rem;
  color: var(--color-textLight);
}

.ForgotPassword form .successMsg {
  background-color: var(--color-green);
  color: var(--color-textDark);
  padding: 1rem;
  margin: 0;
  margin-top: 2rem;
  border-radius: 1rem;
}
