.Login p a {
  color: #ff344b;
}

.Login p.lowerTxt {
  font-size: 1.4rem;
}

.Login p.lowerTxt a {
  font-weight: 700;
}

.Login .content .title {
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  margin-top: 2rem;
  color: var(--color-textLight);
}
