.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: #2a3d43;
}

.loading {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.loading h1 {
  font-size: 5.2rem;
  font-weight: 500;
  color: #fff;
}

.Main .title-section {
  margin-bottom: 2rem;
}
.Main .title {
  font-family: Huji-regular;
}

.Main .logo-line {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.Main .numpad {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.Main .numpad .row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
