.EventEdit {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  border-radius: 1rem;
  border: 2px solid #102125;
  color: #2a3d43;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 1;
}

.EventEdit:active {
  background-color: #2a3d43;
  color: #e1eef8;
}

.disableBtn {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  color: #999;
}
