.EventEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 238, 248);
  border-radius: 1rem;
  border: 2px solid #102125;
  color: #2a3d43;
  width: 10rem;
  height: 100%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}

.EventEdit:active {
  background-color: #2a3d43;
  color: #e1eef8;
}

.disableBtn {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  color: #999;
}
