.SelectEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.SelectEvent .container {
  margin-top: 8rem;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.SelectEvent .container h1.title {
  font-size: 2.4rem;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  color: var(--color-textLight);
}

.SelectEvent .eventsList {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  width: 100%;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
