.SelectEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.SelectEvent .container {
  margin-top: 8rem;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.SelectEvent .eventsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  /* gap: 2rem; */
  justify-content: space-between;
}
