.About {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.About main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.About main p {
  font-size: 1.4rem;
}
