.addModal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  z-index: 3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addModal form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.2rem;
  background-color: #e1eef8;
  color: #1a1f49;
}

.addModal form .message h2 {
  color: #20718b;
}

.addModal form .formHeading {
  background-color: var(--color-mainBlue);
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

.addModal form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.5rem 2rem;
  color: var(--color-textDark);
}

.addModal form label input {
  width: 80%;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  text-align: center;
}

.addModal form input[type="submit"] {
  background-color: var(--color-green);
  font-weight: 600;
  border: 2px solid var(--color-secondaryBlue);
  margin: 1rem 0rem;
  cursor: pointer;
  height: 48px;
  padding: 0 1rem;
}

.addModal form .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 1rem 0rem;
}

.addModal form .btns .btn.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-textLight);
  background-color: var(--color-bgDark);
  border: 2px solid var(--color-secondaryBlue);
  font-size: 1.5rem;
  font-weight: 600;
  width: 90px;
  height: 48px;
  border-radius: 0.5rem;
  margin: 0;
  cursor: pointer;
}
