.Admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2a3d43;
}

.Admin .container {
  height: 100%;
}

.Admin > .container > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  height: 100%;
}

.Admin > .container > .content .loader {
  margin-top: 2rem;
}

.Admin > .container > .content h2.noRecords {
  color: #ff344b;
}

.Admin > .container .content .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Admin > .container .content .buttons select.selectBox {
  border-radius: 1rem;
  text-indent: 0.5rem;
  border: 2px solid #102125;
  background-color: #e1eef8;
  min-width: 200px;
}

.Admin > .container .content .buttons select.selectBox option:checked {
  background-color: #2a3d43;
  color: white;
}

.Admin > .container .content .buttons .rightSection {
  width: 33%;
}

.Admin > .container .content .buttons .middleSection {
  width: 33%;
}

.Admin > .container .content .buttons .leftSection {
  /* width: 3rem; */
  display: flex;
  align-items: center;
  justify-content: end;
  width: 33%;
  height: 100%;
}

.Admin > .container .content .buttons .rightSection button {
  margin: 0;
  height: 2.4rem;
  padding: 0;
  width: 3rem;
  background-color: #e1eef8;
}

.Admin > .container > .content .commandRibbon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Admin > .container > .content .commandRibbon .rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Admin > .container > .content .commandRibbon .rightSide h3 {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.Admin > .container > .content .commandRibbon .leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Admin > .container > .content .commandRibbon .leftSide button {
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
}

.Admin > .container > .content .commandRibbon .leftSide button.printScreen {
  width: 5rem;
}

.Admin > .container > .content .searchAtt {
  border: none;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  margin: 0.5rem;
  padding: 0.1rem 0.8rem;
}

.Admin .container .content h1 {
  margin: 2rem;
}

.Admin > .container > .content > h3 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.Admin > .container > .content button {
  margin-top: 1rem;
}
