.Admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #2a3d43;
}

.Admin .container {
    height: 100%;
}

.Admin > .container > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    height: 100%;
}

.Admin .container .content h1 {
    margin: 2rem;
}

.Admin > .container > .content > h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.Admin > .container > .content button {
    margin-top: 1rem;
}
