.ConfirmDelete {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  top: 0;
  right: 0;
  z-index: 1;
}

.ConfirmDelete .deleteModal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-bgLight);
  width: 20%;
  border-radius: 1.2rem 1.2rem 1rem 1rem;
  padding-bottom: 2rem;
}

.ConfirmDelete .deleteModal .header {
  background-color: var(--color-mainBlue);
  width: 100%;
  color: var(--color-textLight);
  border-radius: 1rem 1rem 0rem 0rem;
}

.ConfirmDelete .deleteModal h3.warningTitle {
  color: var(--color-textDark);
}

.ConfirmDelete .deleteModal .header h1 {
  margin: 0.5rem;
}

.ConfirmDelete .deleteModal h2,
h3 {
  color: var(--color-textDark);
}

.ConfirmDelete .deleteModal .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 1rem;
}

.ConfirmDelete .deleteModal .btns .deleteBtn {
  background-color: var(--color-green);
  border: 2px solid var(--color-secondaryBlue);
  color: var(--color-secondaryBlue);
  padding: 1rem 0.5rem;
  margin: 0;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  width: 7rem;
  cursor: pointer;
}

.ConfirmDelete .deleteModal .btns .cancelBtn {
  background-color: var(--color-bgDark);
  border: 2px solid var(--color-secondaryBlue);
  color: var(--color-textLight);
  padding: 1rem 0.5rem;
  margin: 0;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  width: 7rem;
  cursor: pointer;
}

.ConfirmDelete .deleteModal h2.success {
  background-color: var(--color-green);
  color: var(--color-secondaryBlue);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.ConfirmDelete .deleteModal h2.error {
  color: var(--color-red);
}
