.HeaderAdmin {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20718b;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.5);
}

.HeaderAdmin .container .content {
  padding: 1rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderAdmin .container .content a.disableLink {
  pointer-events: none;
  /* opacity: 0.5;  */
  cursor: not-allowed;
  color: #999;
}

.HeaderAdmin .container .content h1,
h2,
h3 {
  color: #fff;
}

.HeaderAdmin .container .content h3 {
  font-size: 1.4rem;
  display: flex;
  align-items: end;
}

.HeaderAdmin .container .content h3 span.logout {
  cursor: pointer;
  font-size: 1rem;
  color: #2a3d43;
}

.HeaderAdmin .container .content h3 span.logout:hover {
  color: #fff;
  font-size: 1.2rem;
}

.HeaderAdmin .container .content .btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderAdmin .container .content .btn-group * {
  margin-right: 0.7rem;
}
