.HeaderAdmin {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20718b;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.5);
}

.HeaderAdmin .container .content {
    padding: 1rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderAdmin .container .content h1,
h2,
h3 {
    color: #fff;
}

.HeaderAdmin .container .content .btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderAdmin .container .content .btn-group * {
    margin-right: 0.7rem;
}
