.ClearBtn {
  background-color: var(--color-red);
  color: var(--color-textLight);
  border: 2px solid var(--color-secondaryBlue);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: 0.2rem;
}
