.ZeroBtn {
  border: var(--color-secondaryBlue) solid 2px;
  background-color: var(--color-bgDark);
  color: var(--color-textLight);
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 1rem;
}
