@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Noto+Sans+Hebrew:wght@100..900&display=swap");

/* פלטת צבעים לפרוייקט */
:root {
  --color-mainBlue: #1b272b;
  --color-secondaryBlue: #20718b;
  --color-iconsBlue: #09536a;
  --color-bgDark: #2a3d43;
  --color-bgLight: #e1eef8;
  --color-green: #cefa72;
  --color-textDark: #09536a;
  --color-textLight: #fff;
  --color-red: #e63946;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant", "Noto Sans Hebrew", sans-serif;
}

html,
body,
#root {
  direction: rtl;
  height: 100%;
}

.container {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  width: unset;
  height: unset;
  cursor: pointer;
}

.btn-primary {
  background-color: #e1eef8;
  color: #09536a;
}

a {
  text-decoration: none;
}

select {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

button:active {
  background-color: #1a1f49;
  color: #fff;
  transition: 100ms;
  transform: scale(0.9);
}

a:active {
  background-color: #1a1f49;
  color: #fff;
  transition: 100ms;
  transform: scale(0.9);
}
