.Client {
  width: 100%;
  height: 100%;
  background-color: var(--color-bgLight);
}

.Client .title-section .title.welcome {
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  color: var(--color-textDark);
}

.Client .title-section .title.campus {
  color: var(--color-textDark);
  font-size: 4rem;
}

.Client h2.title.cta {
  margin-bottom: 0.7rem;
  font-size: 1.7rem;
  font-family: "Assistant";
  color: var(--color-textDark);
}

.Client span.without {
  color: var(--color-red);
}

.Client .input-text {
  direction: ltr;
  text-align: center;
  margin-bottom: 1.2rem;
  border-radius: 50px;
  border: 0;
  width: 17rem;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  padding: 0.4rem 0.5rem;
  background: var(--color-textLight);
  color: #065f9a;
  transition: all 100ms ease-in;
  line-height: 1rem;
}
.Client .input-text:focus {
  outline: 0;
}
