.ListNumpad {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-auto-rows: 80px;
  gap: 5px;
}
.ListNumpad .btn-submit {
  background-color: var(--color-green);
  color: var(--color-textDark);
  border: 2px solid var(--color-secondaryBlue);
  border-radius: 1rem;
  grid-column: span 3;
  height: 70px;
  margin-top: 0.2rem;
}
