.ListNumpad {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
}

.ListNumpad .btn-angle {
    order: 0 !important;
}

.ListNumpad .btn-submit {
    width: 84.5%;
    background-color: #1cc78b;
    margin-top: 1rem;
}
